/* seccion Habilidaes */

.habilidades{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(img/css.png);
    color: #fff;
    padding: 100px 20px;
}
.habilidades .contenido-seccion{
    max-width: 1100px;
    margin: auto; 
}
.habilidades h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

  
  .skill .contenido-seccion{
    max-width: 1100px;
    margin: 12px 0;;
  }

  .habilidades  h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
  }
  
  .val {
    float: right;
  }
  
  .progress-bar-wrap {
    position: relative;
    overflow: hidden;
    height: 10px;
    background-color: #f1f1f1;
    border-radius: 3px;
  }
  
  .progress-bar {
    width: 0;
    height: 100%;
    background-color: #1CB698;
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 3px;
  }